/* font import */

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,500;1,700&display=swap");

/* font import ends */

/* variables */

:root {
  /* font sizes */
  --fs-sm: 0.8125em;
  --fs-reg: 1em;
  --fs-mreg: 1.125em;
  --fs-md: 1.5em;
  --fs-lg: 2.2em;
  --fs-xl: 3.1em;

  /* font weights */

  --fw-bold: 700;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-extra-light: 200;

  /* colors */

  --p-clr: #029837;
  --bg-clr: #eaffe8;
  --sbg-clr: #010133;
  --wht-clr: white;
}

/* variables ends */

/* default coding */

* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.6;
}

a {
  text-decoration: none;
}

/* defualt coding ends */

/* utilites */

/* area related values */
.area-90 {
  width: 90%;
  height: auto;
}

.wide-90 {
  min-width: 90%;
}

.wide-40 {
  width: 40%;
}

.wide-50 {
  width: 50%;
}

.wide-60 {
  width: 60%;
}

.wide-80 {
  width: 80%;
}

.high-100 {
  min-height: 100vh;
}

.high-90 {
  min-height: 90vh;
}

.high-80 {
  min-height: 80vh;
}
.high-60 {
  min-height: 60vh;
}
.high-50 {
  min-height: 50vh;
}
.high-20 {
  min-height: 20vh;
}
.high-10 {
  min-height: 10vh;
}

/* area related value ends */

/* position related values */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/* position ends */

/* font sizes */
.fs-sm {
  font-size: var(--fs-sm);
}

.fs-reg {
  font-size: var(--fs-reg);
}

.fs-mreg {
  font-size: var(--fs-mreg);
}

.fs-md {
  font-size: var(--fs-md);
}

.fs-lg {
  font-size: var(--fs-lg);
}

.fs-xl {
  font-size: var(--fs-xl);
}

/* font sizes end */

/* font weight starts */

.bold {
  font-weight: var(--fw-bold);
}

.light {
  font-weight: var(--fw-light);
}

.regular {
  font-weight: var(--fw-regular);
}

.e-light {
  font-weight: var(--fw-extra-light);
}

/* font weight ends */

/* color profiles */

.primary-color {
  color: var(--p-clr);
}

.white-bg {
  background-color: var(--wht-clr);
}

.white-clr {
  color: var(--wht-clr);
}

.primary-bg {
  background-color: var(--p-clr);
}

.secondary-bg {
  background-color: var(--bg-clr);
}

.tertiary-bg {
  background-color: var(--sbg-clr);
}
/* color profiles ends */

/* button styles */

.btn {
  width: 9.8em;
  height: 3.375em;
  border: 1px solid var(--p-clr);
  border-radius: 1.25em;
}

/* button styles ends */

/* padding style starts */

.p-bottom {
  padding-bottom: 1em;
}

.p-top {
  padding-top: 1em;
}

.py {
  padding-bottom: 1em;
  padding-top: 1em;
}

.p-right {
  padding-right: 1em;
}

.p-left {
  padding-left: 1em;
}

.p-around {
  padding: 1em;
}

/* padding styles ends */

/* border styles start */

.border {
  border: 2px solid tomato;
}

.round-1 {
  border-radius: 1em;
}

/* border styles end */

/* shadow and text centering */

.shadow {
  -webkit-box-shadow: 5px 1px 15px 1px #000000;
  box-shadow: 5px 1px 15px 1px #000000;
}

.text-center {
  text-align: center;
}

/* ul list styles */

.ls-none {
  list-style-type: none;
  padding-left: 0;
}

/* box behaviour */

.inline {
  display: inline-block;
}

/* end of utilites */
